body{margin:0px;padding:0;}
.template{
	position:relative;
	margin:0 auto;
	width:1300px;
	}
 .center{
	 width:940px;
	 margin-left: auto;
  margin-right: auto;
	 }
.navigation{
	height:50px;
	width:1300px;
	background-color:#000;}
ul.n { 
	list-style:none;
	position: relative;
display:inline;
	 height:60px;

 text-align:center;}
li.norm { width:130px;
	 height:50px;
float:left;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	 padding-left:20px;
	 padding-right:20px;
	 padding-top:15px;
	 padding-bottom:15px;
}
 li.norm a {
	
			width:130px;
	 height:50px;
	 text-decoration:none;
	 color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	 }
 li.norm a:hover{
	 padding-left:20px;
	 padding-right:20px;
	 padding-top:15px;
	 padding-bottom:15px;
	 background-image:url(../img/04.png);
	 color:#000;
width:130px;
	 height:50px;
	 font-family:Arial, Helvetica, sans-serif;
	font-size:12px;}
.grey{
	position:relative;
	background-color:#d4d3d2;
		width:1300px;
		height:1340px;}
.footer{position:relative;
height:270px;
	background-color:#000;
		width:1300px;}
.helping{
	position:relative;
	float:left;
	width:585px;}
.best{
	position:relative;
	float:left;
	width:320px;
	padding-left:20px;}
.strategies{
	position:relative;
	float:left;
	width:300px;}
.profile{
	position:relative;
	float:left;
	width:300px;
	padding-left:20px;}
.news{
	position:relative;
	float:left;
	width:300px;
		padding-left:20px;}
.rightul{
	position:relative;
	float:left}
.leftul{
	position:relative;
	float:left}
.text1{
	font-family: 'Istok Web', sans-serif;
	font-weight:bold;
	font-size:36px;
	color:#000;
	text-transform:uppercase}
.text2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.5;
	color:#656b73;}
.text3{
	font-size:26px;
	color:#000;
	font-family: 'Istok Web', sans-serif;
	text-transform:uppercase;
	font-weight:bold;}
ul.rightul{
	margin:0;
	line-height:1.5;
		font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:14px;
	color:#000;
	list-style:url(../img/06.png);
	}
ul.rightul a{	color:#000;
text-decoration:none;}
ul.leftul a{	color:#000;
text-decoration:none;}
ul.leftul{
	padding-left:10px;
	margin:0;
	line-height:1.5;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:14px;
	color:#000;
		list-style:url(../img/06.png);}
.text4{
	font-family: 'Istok Web', sans-serif;
	font-size:36px;
	color:#000;
	text-transform:uppercase;
		font-weight:bold;}
.text5{
	font-family: 'Istok Web', sans-serif;
	font-size:24px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;}
.text5 a{
	color:#FFF;
	text-decoration:none;}
.text6{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#000;}
.text7{
	font-size:26px;
	color:#000;
		font-family: 'Istok Web', sans-serif;
		text-transform:uppercase;
		font-weight:bold;}
.text8{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	line-height:1.5;}
.text9{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#656b73;
line-height:1.5;
	}
.text10{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
		}
.text10 a{color:#fff;
text-decoration:none;
}
.text11{
	font-family:Arial, Helvetica, sans-serif;
	color:#656b73;
	font-size:14px;
		}
	.more{
		position:relative;
		padding-top:8px;}
		
.add{
	position:relative;
	float:left}
.services{
	position:relative;
	float:left;
	padding-left:15px;}
.non{
	position:relative;
	float:left}
.copy{
	position:relative;
	float:left;
	padding-left:15px;}
.text12{
		font-family: 'Istok Web', sans-serif;
		font-size:18px;
		color:#FFF;
		text-transform:uppercase;
		font-weight:bold;}
.text13{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#a6a7a9;}
.text14{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	color:#fff;
}
.ulfoot{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:10px;
	text-transform:uppercase;
		color:#a6a7a9;
			line-height:2.5;
	list-style:url(../img/16.png);}
.ulfoot li a{	color:#a6a7a9;
text-decoration:none;
	}
.facebook{
	position:relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#f3b716;
	text-transform:uppercase;
	padding-left:5px;
	}
.facebook a{
	text-decoration:none;
		color:#f3b716;}
	.vlinks{font-family:"Arial Black", Gadget, sans-serif;
	font-size:10px;
	text-transform:uppercase;
		color:#a6a7a9;
			line-height:2.5;}
	.vlinks a{	color:#a6a7a9;
text-decoration:none;
	}